* {
    padding: 0;
    margin: 0;
    box-sizing: 0;
  }
    #header{
        width: 100%;
        height: 100px;
        background-color: grey;
        text-align: center;
        line-height: 100px;
        color: white;
        font-family: Arial, Helvetica, sans-serif;
        padding: 0px 20px;
        position: fixed;
        top: 0;
        
        
    }
    h2 {
       text-align: center;
       height: 40px;
       
    }
    #banner{
        
        width: 100%;
        height: 100vh;
        background-color: lightblue;
        margin-top: 6px;
        margin-bottom: 5px;
        text-align: center;
        line-height: 100vh;
        color: white;
        font-family: Arial, Helvetica, sans-serif;
    }
    #sec1 {
        display: flex;
        justify-content: space-evenly;
    }
    #sec1 .circles{
        width: 250px;
        height: 250px;
        background-color: orange;
        border-radius: 50%;
        display: inline-block;
        text-align: center;
        line-height: 250px;
        font-family: Arial, Helvetica, sans-serif;
        color: white;
      
    }
    #sec2{
        display: flex;
    }
    #sec2 .main{
        
        width: 50%;
        height: 500px;
        background-color: grey;
        text-align: center;
        line-height: 500px;
        color: white;
        font-size: 30px;
    }
    aside{
        width: 50%;
        height: 500px;
        display: flex;
        flex-wrap: wrap;
    }
    aside .article{
        text-align: center;
        line-height: 160px;
        color: white;
        font-size: 40px;
        width: 100%;
        height: 163.5px;
        background-color: orange;
        margin: 0px 0px 5px 5px;
        transition: 0.5s;
       
    }
    #sec3 {
        display: flex;
        justify-content: space-evenly;
    }
    #sec3 .Square{
        width: 250px;
        height: 250px;
        background-color: red;
        display: inline-block;
        text-align: center;
        line-height: 250px;
        font-family: Arial, Helvetica, sans-serif;
        color: white;
        transition: 1s;
        margin-bottom: 10px;
        
    }
    #Footer{
        width: 100%;
        height: 100px;
        background-color: blue;
        text-align: center;
        line-height: 100px;
        color: white;
        font-family: Arial, Helvetica, sans-serif;
    }
    #sec3 .Square:hover
  {
      border-top-right-radius: 20px;
      border-bottom-left-radius: 20px;
      box-shadow: 5px 5px 5px grey;
      background-color: #009FFF;
      transform: scale(1);
      font-size: 41px;
  } 
  #sec2 .article:hover
  {
    text-shadow:  2px 2px 2px gray;
    font-size: 45px;
  } 
